.main{
    margin-top: 50px;
    padding: 20px;
    transition: all 200ms cubic-bezier(0.22, 0.61, 0.36, 1);
    @include media(426px){
        margin-left: 60px;
    }
    // @include media(769px){
    //     margin-left: 200px;
    // }
}

.head{
    box-sizing: border-box;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    height: 50px;
    @include media(769px){
        z-index: 1;
    }
}

.navigation{
    position: fixed;
    // z-index: 3;
    top: 0;
    bottom: 0;
    width: 200px;
    left: -220px;
    transition: all 200ms cubic-bezier(0.22, 0.61, 0.36, 1);
    @include media(426px){
        box-shadow: none;
        left: 0;
        overflow: hidden;
        width: 60px;
        z-index: 2;
    }
    // @include media(769px){
    //     box-shadow: none;
    //     left: 0;
    //     overflow: hidden;
    //     width: 200px;
    //     // z-index: -1;
    // }
}