.main{
    text-align: center;
    min-width: 320px;
    // overflow: hidden;
    padding: 0;
}

.head{
    box-sizing: border-box;
    // border-bottom: solid $green 1px;
    box-shadow: 0 1px 2px $shadow;
    background: $layout1;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    height: 50px;
    @include media(769px){
        z-index: 1;
    }
}

.navigation{
    position: fixed;
    // z-index: 3;
    top: 0;
    bottom: 0;
    background: $layout2;
    width: 200px;
    box-shadow: 1px 5px 5px $shadow, 0px 2px 1px $shadow;
    left: -220px;
    transition: all 200ms cubic-bezier(0.22, 0.61, 0.36, 1);
    color: $color1;
    @include media(426px){
        box-shadow: none;
        left: 0;
        overflow: hidden;
        width: 60px;
    }
    @include media(769px){
        box-shadow: none;
        left: 0;
        overflow: hidden;
        width: 200px;
        // z-index: -1;
    }
}