.main{
    text-align: center;
    min-width: 320px;
    // overflow: hidden;
    padding: 0;
}

.head{
    height: 50px;
    box-sizing: border-box;
    // border-bottom: solid $green 1px;
    // background: pink;
    box-shadow: 0 1px 2px $shadow;
    background: $modebg1;
}