// @import 'animate';

.loginForm{
    &__input:focus + .loginForm__underline > .coloredline{
        right: 0;
        left: 0;
    }

    &__placeholder-isup{
        transform: translateY(-20px);
        font-size: 11px;
     }
    &__placeholder-error{
        color: $red;
    }
    &__underline-error{
            background: $red;
            height: 2px;
        .coloredline{
            background: $red;
        }
    }
}


.logo__text-isup{
    transform: translateY(0);
    opacity: 1;
}


.dropdown-show{
    display: inline-block;
}

.dropdown__list{
    &:hover:not(.listName){
        background: $hover;
    }
    &:active:not(.listName){
        background: $active;
    }
}
.mainnav__list{
    &:hover{
        background: $hover;
    }
    &:active{
        background: $active;
    }
}

.navigation-show{
    left: 0;
}

.listItem__nightmode_switch-off{
    background: $color-icon;
    .switch__controller{
        margin-left: -2px;

    }
}
.listItem__nightmode_switch-on{
    background: $green;
    .switch__controller{
        margin-left: 14px;
    }
}