.header{
    margin: auto;
    // background: $layout1;
    display: flex;
    height: 100%;
    align-items: center;
    padding: 0 20px;
    position: relative;
    &__logo{
        position: absolute;
        left: 50%;
        margin-left: -30px;
        top: 50%;
        margin-top: -10px;
        @include media(769px){
            // position: relative;
            // left: 0;
            // top: 0;
            // margin: 0;
            // margin-left: 25px;
            // display: flex;
        }
    }
    // &__logoText{
    //     display: none;
    //     @include media(769px){
    //         // margin: auto;
    //         width: 160px;
    //         height: 20px;
    //         // display: inline-block;
    //     }
    // }
    &__logoPic{
        margin: auto;
        width: 50px;
        height: 20px;
    }
    &__user{
        margin-left: auto;
        display: flex;
        span{
            margin: auto;
        }
    }
}

.menu{
    height: 30px;
    display: flex;
    justify-content: center;
    flex-flow: column;
    cursor: pointer;
    @include media(426px){
        // display: none;
    }
    &__lineContainer{
        // background: lightblue;
        height: 20px;
        width: 20px;
    }
    &__line{
        // flex-wrap: wrap;
        background: $color1;
        height: 2px;
        width: 100%;
        margin: 4px 0;
    }
}

.user{
    // background: pink;
    position: relative;
    cursor: pointer;
    &__avatar{
        background: $green;
        height: 30px;
        width: 30px;
        border-radius: 1px;
    }
    &__dropdown{
        display: none;
        position: absolute;
        top: 145%;
        right: 50%;
        min-width: 220px;
        width: auto;
        margin-right: -25px;

        // background: $layout1;
        // padding: 10px 0;
        // border: solid $border 1px;
        border-radius: 1px;
        padding: 6px 0;
    }
}
.dropdown{
    &__unorderedlist{
        margin: 0;
        padding: 0;
        width: 100%;
    }
    &__list_name{
        list-style: none;
    }

    &__list{
        list-style: none;
        height: 40px;
        // background: pink;
        // border-bottom: solid whitesmoke 1px;
    }
    &__anchor{
        font-size: 15px;
        display: block;
        // width: 100%;
        height: 100%;
        // padding: 9px 15px;
        position: relative;
        // background: coral;
    }
    &__containerlist_item{
        // background: lightblue;
        height: 100%;
        padding: 0 20px;
        display: flex;
        align-items: center;
        // justify-content: center;
    }
    &__separator{
        height: 1px;
        background: $border;
        list-style: none;
        // width: 92%;
        margin: 6px auto;
    }
    &__name{
        padding: 10px 20px;
        span{
            display: block;
        }
        .fullname{
            font-weight: bolder;
            white-space: nowrap;
            margin-bottom: 3px;
        }
        .username{
            font-size: 15px;
            color: $color-icon;
        }
    }
    &:before{
        content: " ";
        position: absolute;
        display: inline-block;
        border: solid 10px transparent;
        right: 15px;
        bottom: 100%;
    }
    &:after{
        content: " ";
        position: absolute;
        display: inline-block;
        border: solid 9px transparent;
        // border-bottom: 9px solid $layout1;
        right: 16px;
        bottom: 100%;
    }
}
.listItem{
    &__icon{
        width: 17px;
        height: 17px;
        margin-right: 17px;
    }
    &__string{
        // background: pink;
    }
    &__nightmode_switch{
        width: 32px;
        height: 13px;
        margin-left: auto;
        border-radius: 30px;
        transition: all 0.2s ease;
        .switch__controller{
            margin-top: -4px;
            width: 20px;
            height: 20px;
            background: $color-icon-light;
            border-radius: 100%;
            transition: all 0.2s ease;
        }
    }
}